/*
 * Base structure
 */

body {
    padding-top: 50px;
    background: #eee url('../images/background.png') fixed;
}

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.glyphicon.green {
    color: #4da74d;
}

.glyphicon.red {
    color: #cb4b4b;
}

.glyphicon.yellow {
    color: #f1c40f;
}

/*
 * Navbar
 */

.logo {
    width: 48px;
    height: 46px;
}

.navbar-brand .logo, .profile-picture {
    width: 24px;
    height: 23px;
    position: relative;
    top: -2px;
    display: inline;
}

/*
 * Dynamic Grid System
 */

@media screen and (min-width: 1px) and (max-width: 767px) {
    #grid[data-columns]::before {
        content: '1 .col-xs-12';
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #grid[data-columns]::before {
        content: '1 .col-sm-12';
    }
}

@media screen and (min-width: 992px) and (max-width: 9999px) {
    #grid[data-columns]::before {
        content: '2 .col-md-6';
    }
}

/*
 * Main content
 */

.main {
    /* Push main content below fixed navigation */
    margin-top: 40px;
}

.page-header {
    margin-top: 0;
    padding: 0;
}

.profile-col-fix {
    width: 10%;
}

.profile-image {
    height: 100px;
    width: 100px;
}

#housing-points {
    position: absolute;
    top: 148px;
    left: 239px;
    font-size: 48px;
    font-weight: bold;
}

#housing-points-chart {
    height: 250px;
    width: 100%;
}

#attendance-widget-body {
    min-height: 536px;
}
